body            {font-family:"Segoe UI",Tahoma,Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:10pt}
table,th,td     {font-family:inherit;font-size:inherit}
pre,code        {font-family:Menlo,Monaco,Consolas,"Courier New",monospace;padding:2px 4px;background-color:#EEEEEE;font-size:10pt}
dt              {font-weight:bold}
h2              {margin:0px}
h2 code         {font-size:inherit;color:inherit;background-color:inherit;font-weight:normal}
.disclaimer     {padding-top:6px;padding-bottom:6px;padding-left:8px;padding-right:8px;background-color:#D8D8D8;border: solid 1px #808080}
.titlediv       {padding-top:3px;padding-bottom:3px;padding-left:4px;padding-right:4px;color:#FFFFFF;background-color:#000000}
.hdrdiv         {padding-top:3px;padding-bottom:3px;padding-left:4px;padding-right:4px;background-color:#D8D8D8}
.hdrtable       {}
.contenttable   {width:100%;font-size:11pt}
.contentdiv     {padding-top:3px;padding-bottom:3px;padding-left:12px;padding-right:4px}
.commenttable   {width:100%}
.commentdiv     {padding-top:3px;padding-bottom:3px;padding-left:4px;padding-right:4px;background-color:#E0F0FF}
.commentdivhdr  {font-weight:bold}
